* {
    box-sizing: border-box;
}
body {
    text-align: center;
}
.heading {
    box-sizing: border-box;
    padding: 1rem;
}
.image {
    width: 250px;
    height: 240px;
}
.time {
    color: rgb(20, 102, 235);
    display: inline-block;
    width: 120px;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 3rem;
    margin: 2rem 0.5rem;
}
.btn {
    margin: 10px 0;
}
button {
    color: rgb(20, 102, 235);
    display: inline-block;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    outline: none;
    border: none;
    margin: 10px 5px;
    padding: 0.8rem;
    border-bottom: 3px solid rgb(20, 102, 235);
}